*color0: #000000
*color1: #cc0000
*color2: #4e9a06
*color3: #c4a000
*color4: #3465a4
*color5: #75507b
*color6: #06989a
*color7: #d3d7cf
*color8: #555753
*color9: #ef2929
*color10: #8ae234
*color11: #fce94f
*color12: #739fcf
*color13: #ad7fa8
*color14: #34e2e2
*color15: #eeeeec

URxvt.background: #000000
URxvt.foreground: #ffffff
URxvt.cursorColor: #ff0000

URxvt.letterSpace: 0
URxvt.font: xft:Liberation Mono:size=14:antialias=true:hinting=true
URxvt.boldfont: xft:Liberation Mono:bold:size=11:antialias=true:hinting=true

URxvt*scrollWithBuffer: true 
URxvt.pointerColor: rgb:255/255/255
URxvt.scrollBar: false

URxvt.clipboard.autocopy: true
